.box {
  /* Add styles here */
  border: 5px solid black;
  border-radius: 10px;
  background-image: url(https://mdn.github.io/shared-assets/images/examples/balloons.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

h2 {
  /* Add styles here */
  background-color: rgb(0 0 0 / 45%);
  color: white;
}

/* Task 1 
In this task:
    - We give the box a 5px solid black border, with rounder 10px corners.
    - Give the <h2> a semi-transparent black background color and make
    the text white.
    - Add a background-image and size it so it covers the box.
    "https://mdn.github.io/shared-assets/images/examples/balloons.jpg"
*/
