body {
  font: 1.2em / 1.5 sans-serif;
}

.box {
  border: 5px dotted black;
  padding: 1em;

  /* Longhand version */
  margin-top: 20px;
  margin-right: 1em;
  margin-bottom: 40px;
  margin-left: 2em;

  /* Shorthand version */
  margin: 20px 1em 40px 2em;
}

/* Task 2
Add the following things to the box:
- 5px, black, dotted border.
- Top margin of 20px
- Right margin of 1em.
- Bottom margin of 40px.
- Left margin of 2em.
- Padding on all sides of 1em.
*/
