.hex {
  background-color: #86defa;
}

.rgb {
  background-color: rgb(134 222 250);
}

.hsl {
  background-color: hsl(194 92.1 75.3);
}

.transparency {
  background-color: rgb(134 222 250 / 0.6);
}
/* Add styles here */

/* Task 1
In this task, the first list item has been given a background coor using
a hex color code.
Our task is to:
    - Complete the CSS using the same color but in different formats, plus a
    final list item where we should make the background semi-opaque.
        - The second list item should use RGB color.
        - The third should use HSL color
        - The fourth should use RGB color but with the alpha channel set to
        0.6.
*/
