body {
  font: 1.2em / 1.5 sans-serif;
}
/* Add styles here */

h1 {
  color: blue;
}

h2 {
  background-color: blue;
  color: white;
}

span {
  font-size: 200%;
}
/*

Task 1
In this task, use CSS to do the following things, without changing the HTML:
- Make <h1> headings blue.
- Give <h2> headings a blue background and white text.
- Cause text wrapped in a <span> to have a font-size of 200%.

*/
